# Настройки сервера
PORT=5005

# Telegram Bot Integration
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Resend Email Integration
RESEND_API_KEY=
FROM_EMAIL=Ян Воронков <design@yanvoronkov.ru>
NOTIFICATION_EMAIL=design@yanvoronkov.ru

# Cloudflare Turnstile
VITE_TURNSTILE_SITEKEY=2x00000000000000000000AB
